@import 'sidebar.css';
@import 'header.css';
@import 'activeCollection.css';
@import 'fieldView.css';
@import 'contentBuilder.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e2d2e;
  height: 100%;
}

.app {
  min-height: 100%;
}